In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
ma_test_res = pd.read_pickle("ma_test_res.pkl")
all_trades = pd.read_pickle("all_trades.pkl")

In [3]:
all_trades.shape

(67630, 11)

In [4]:
ma_test_res.shape

(630, 8)

In [10]:
ma_test_res.head()

      pair  num_trades  total_gain  mashort  malong    CROSS
0  GBP_USD         544      1021.2        4       8   MA_4_8
1  GBP_USD         311      -339.4        4      16  MA_4_16
2  GBP_USD         269      -141.6        8      16  MA_8_16
3  GBP_USD         194      -160.3        4      32  MA_4_32
4  GBP_USD         151       416.7        8      32  MA_8_32

In [6]:
ma_test_res.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'mashort', 'malong'],
      dtype='object')

In [7]:
ma_test_res = ma_test_res[['pair', 'num_trades', 'total_gain','mashort', 'malong']]

In [9]:
ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

In [17]:
df_all_gains = ma_test_res.groupby(by=["CROSS", "mashort", "malong"], as_index=False).sum()

In [19]:
df_all_gains.sort_values(by="total_gain", ascending=False, inplace=True)

In [20]:
df_all_gains.head()

       CROSS  mashort  malong  num_trades  total_gain
25   MA_8_16        8      16        5759      5515.2
19    MA_4_8        4       8       11760      3634.5
15   MA_4_16        4      16        6545      3424.4
2   MA_16_32       16      32        2839       -75.2
27   MA_8_32        8      32        3202     -1996.3

In [23]:
ma_8_16 = ma_test_res[ma_test_res.CROSS=='MA_8_16'].copy()

In [25]:
ma_8_16.sort_values(by="total_gain", ascending=False, inplace=True)

In [29]:
total_p = len(ma_8_16.pair.unique())

In [30]:
ma_8_16[ma_8_16.total_gain>0].shape[0]

13

In [32]:
13 / total_p

0.6190476190476191

In [37]:
for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS==cross]
    total_p = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    print(f"{cross:12} {n_good:4} {(n_good/total_p)*100:4.0f}%")

MA_8_16        13   62%
MA_4_8         15   71%
MA_4_16        13   62%
MA_16_32        9   43%
MA_8_32         8   38%
MA_4_32         8   38%
MA_64_128       7   33%
MA_8_64         5   24%
MA_64_256       4   19%
MA_4_64         6   29%
MA_24_32        4   19%
MA_8_256        3   14%
MA_4_256        4   19%
MA_16_256       0    0%
MA_64_96        3   14%
MA_24_256       1    5%
MA_32_256       0    0%
MA_4_96         6   29%
MA_32_96        4   19%
MA_16_64        4   19%
MA_8_96         5   24%
MA_8_128        3   14%
MA_4_128        4   19%
MA_16_96        3   14%
MA_32_64        4   19%
MA_24_64        4   19%
MA_32_128       3   14%
MA_24_96        2   10%
MA_24_128       2   10%
MA_16_128       1    5%