In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-011-20161521-001/instruments'

In [5]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [6]:
response.status_code

200

In [7]:
data = response.json()

In [8]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [9]:
#get the list of instruments
instruments = data['instruments']

In [10]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [11]:
#get all the position of instruments
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [12]:
for item in instrument_data[:3]:
    print(item)

{'name': 'USB05Y_USD', 'type': 'CFD', 'displayName': 'US 5Y T-Note', 'pipLocation': -2, 'marginRate': '0.2'}
{'name': 'ZAR_JPY', 'type': 'CURRENCY', 'displayName': 'ZAR/JPY', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'HK33_HKD', 'type': 'CFD', 'displayName': 'Hong Kong 33', 'pipLocation': 0, 'marginRate': '0.1'}

In [13]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [14]:
instrument_df

           name      type   displayName  pipLocation marginRate
0    USB05Y_USD       CFD  US 5Y T-Note           -2        0.2
1       ZAR_JPY  CURRENCY       ZAR/JPY           -2       0.05
2      HK33_HKD       CFD  Hong Kong 33            0        0.1
3       EUR_HUF  CURRENCY       EUR/HUF           -2       0.05
4      FR40_EUR       CFD     France 40            0       0.05
..          ...       ...           ...          ...        ...
119    DE30_EUR       CFD    Germany 30            0       0.05
120     EUR_NOK  CURRENCY       EUR/NOK           -4       0.05
121     XAU_EUR     METAL      Gold/EUR           -2       0.05
122     XPT_USD     METAL      Platinum           -2        0.1
123     XAU_USD     METAL          Gold           -2       0.05

[124 rows x 5 columns]

In [15]:
#what is pickle?
#>> it is a binary-zip format file; that is provided by Pandas.
# smaller size of saving than csv
instrument_df.to_pickle("instruments.pkl")

In [16]:
new_table = pd.read_pickle("instruments.pkl")

In [17]:
new_table

           name      type   displayName  pipLocation marginRate
0    USB05Y_USD       CFD  US 5Y T-Note           -2        0.2
1       ZAR_JPY  CURRENCY       ZAR/JPY           -2       0.05
2      HK33_HKD       CFD  Hong Kong 33            0        0.1
3       EUR_HUF  CURRENCY       EUR/HUF           -2       0.05
4      FR40_EUR       CFD     France 40            0       0.05
..          ...       ...           ...          ...        ...
119    DE30_EUR       CFD    Germany 30            0       0.05
120     EUR_NOK  CURRENCY       EUR/NOK           -4       0.05
121     XAU_EUR     METAL      Gold/EUR           -2       0.05
122     XPT_USD     METAL      Platinum           -2        0.1
123     XAU_USD     METAL          Gold           -2       0.05

[124 rows x 5 columns]